<!--
<app-getterinput [title1]="title"></app-getterinput>

<app-counter 
        [counter]="count" 
        [ischeck]="true" 
        [message]="headertitle" 
        testparam="testing this alias as name is testparam"
        [countertitle]="title"
        >
</app-counter>
<app-panel (childevent)="dataReceived($event)" (stringpass)="stringreceived($event)"></app-panel>
<div>{{receivedDataFromChild}}</div>
<div>{{receivedStringFromChild}}</div>


<div class="app-card">
    <h1>below is card component</h1>
    <app-card>
        <p>This is first app-card content using ng-content</p>
    </app-card>
    <app-card>
        <p>This is second app-card content using ng-content</p>
    </app-card>
</div>
-->

<!-- selector:'app-profile',
 selector:'app-profile, [app-profile]',  
<app1-profile></app1-profile> 
-->

<!-- selector:'[app-profile]', -->
<!-- <div app1-profile> </div> -->
<!-- 
<span app1-profile></span> -->
<!--
<span>ViewEncapsulation.None if used this above profile component css can use globally</span>
<p class="header">ViewEncapsulation.emulate  The header css  used on above app-profile css but not come this style in this page. if use Emulated but you can write css in main css will work on app-compenent page</p>

<p>here the css applied host name for app-host</p>
<app-host></app-host>

<p>But app-host come into differert class </p>

<div class="header">
    <app-host></app-host>
</div>
-->
<!--Host binding and hostlistiner
<div>
<app-hover-clik [id]="title"></app-hover-clik>
</div>
-->
<!--Angular life cycyle
constructor:
 its called one time when the component is created but the value come from parent component not available in constructor because constructor is called before the value come from parent component

ngOnChanges:
 only its fires the reference value like int,string,boolean 
  like student:{"name:"mari",age:25} if  we change student={"name:"mari",age:26} then ngonchanges fire because the reference value change but if we change student.name="mari" or student.age=26 then ngonchanges not fire 
because the reference value is same but the object value change
if input parameter is there ngonchanges fires or else ngonchanges not fire only ngOnInit fire
this onchnages have simplechange methos to capture the changes in input parameter

ngOnInit: 
its called one time when the component is initialized

ngOnDestroy: 
its called one time when the component is destroyed like when we navigate to other page or when we hide the component using *ngIf or when we toogle the component using button click
DestoryRef: its used to destory the component programmatically

NgDoCheck: 
    its fired when the object value change like student:{"name:"mari",age:25} if we change the name or age ngonchanges         
not fire but ngdocheck fire because the reference value is same but the object value change
    its called when there is any change in the component like when we change the value of input parameter or when we change the value of any variable in the component
    Initialy how this behavour: OnOnchnages=> ngOnInit => ngDoCheck => 
    change the value of input parameter : ngOnChanges is called and then ngDoCheck is called


ngafterContentInit: 
its called one time after the content is initialized
@contentChild is used to access the content in the component and also used to access the child component in the parent component

ngAfterViewInit: 
its called one time after the view(Html) is initialized
@viewchild: its used to access the html element in the component 
        
ngafterViewChecked: 
its called after the view is checked and also called after the view is initialized
if you want focus the input field after the view is initialized  and do other activities

ngAfterContentChecked: 
its called after the content is checked and also called after the content is  initialized


 -->

 <!--
            
<div>
    <button (click)="changeTitle()">chnage title</button>
    <button (click)="tooglehook()" >Toogle</button>
    <button (click)="updateCounter()">update counter</button>
@if(showhook){
 <app-lifecycle [title]="title" [counter]="count">
    <app-panel></app-panel>
 </app-lifecycle>
}@else {
    <p>app lifecycle is hidden</p>
}
</div>
-->
<!--

<div>
    <app-checkedlifecycle></app-checkedlifecycle>
</div>

-->
<!--Binding-->
<!-- <app-binding [font]="fontsize" (onsizechange)="fontsize = $event"></app-binding> -->
<!--two way binding
<app-binding [(size)]="fontsize"></app-binding>
</div>
<div>size: {{ fontsize }}</div>
<div [style.font-size.px]="fontsize">size: {{ fontsize }}</div>
-->
<!--Control FLow 
<app-controlflow></app-controlflow>
-->
<!--local template variable-->
@let username=user.name
<div>{{username}}</div>