<!--
<app-getterinput [title1]="title"></app-getterinput>

<app-counter 
        [counter]="count" 
        [ischeck]="true" 
        [message]="headertitle" 
        testparam="testing this alias as name is testparam"
        [countertitle]="title"
        >
</app-counter>
<app-panel (childevent)="dataReceived($event)" (stringpass)="stringreceived($event)"></app-panel>
<div>{{receivedDataFromChild}}</div>
<div>{{receivedStringFromChild}}</div>


<div class="app-card">
    <h1>below is card component</h1>
    <app-card>
        <p>This is first app-card content using ng-content</p>
    </app-card>
    <app-card>
        <p>This is second app-card content using ng-content</p>
    </app-card>
</div>
-->

<!-- selector:'app-profile',
 selector:'app-profile, [app-profile]',  
<app1-profile></app1-profile> 
-->

<!-- selector:'[app-profile]', -->
<!-- <div app1-profile> </div> -->
<!-- 
<span app1-profile></span> -->
<!--
<span>ViewEncapsulation.None if used this above profile component css can use globally</span>
<p class="header">ViewEncapsulation.emulate  The header css  used on above app-profile css but not come this style in this page. if use Emulated but you can write css in main css will work on app-compenent page</p>

<p>here the css applied host name for app-host</p>
<app-host></app-host>

<p>But app-host come into differert class </p>

<div class="header">
    <app-host></app-host>
</div>
-->
<!--Host binding and hostlistiner
<div>
<app-hover-clik [id]="title"></app-hover-clik>
</div>
-->
<!--Angular life cycyle
constructor:
 its called one time when the component is created but the value come from parent component not available in constructor because constructor is called before the value come from parent component

ngOnChanges:
 only its fires the reference value like int,string,boolean 
  like student:{"name:"mari",age:25} if  we change student={"name:"mari",age:26} then ngonchanges fire because the reference value change but if we change student.name="mari" or student.age=26 then ngonchanges not fire 
because the reference value is same but the object value change
if input parameter is there ngonchanges fires or else ngonchanges not fire only ngOnInit fire
this onchnages have simplechange methos to capture the changes in input parameter

ngOnInit: 
its called one time when the component is initialized

ngOnDestroy: 
its called one time when the component is destroyed like when we navigate to other page or when we hide the component using *ngIf or when we toogle the component using button click
DestoryRef: its used to destory the component programmatically

NgDoCheck: 
    its fired when the object value change like student:{"name:"mari",age:25} if we change the name or age ngonchanges         
not fire but ngdocheck fire because the reference value is same but the object value change
    its called when there is any change in the component like when we change the value of input parameter or when we change the value of any variable in the component
    Initialy how this behavour: OnOnchnages=> ngOnInit => ngDoCheck => 
    change the value of input parameter : ngOnChanges is called and then ngDoCheck is called


ngafterContentInit: 
its called one time after the content is initialized
@contentChild is used to access the content in the component and also used to access the child component in the parent component

ngAfterViewInit: 
its called one time after the view(Html) is initialized
@viewchild: its used to access the html element in the component 
        
ngafterViewChecked: 
its called after the view is checked and also called after the view is initialized
if you want focus the input field after the view is initialized  and do other activities

ngAfterContentChecked: 
its called after the content is checked and also called after the content is  initialized


 -->

 <!--
            
<div>
    <button (click)="changeTitle()">chnage title</button>
    <button (click)="tooglehook()" >Toogle</button>
    <button (click)="updateCounter()">update counter</button>
@if(showhook){
 <app-lifecycle [title]="title" [counter]="count">
    <app-panel></app-panel>
 </app-lifecycle>
}@else {
    <p>app lifecycle is hidden</p>
}
</div>
-->
<!--

<div>
    <app-checkedlifecycle></app-checkedlifecycle>
</div>

-->
<!--Binding-->
<!-- <app-binding [font]="fontsize" (onsizechange)="fontsize = $event"></app-binding> -->
<!--two way binding
<app-binding [(size)]="fontsize"></app-binding>
</div>
<div>size: {{ fontsize }}</div>
<div [style.font-size.px]="fontsize">size: {{ fontsize }}</div>
-->
<!--Control FLow 
<app-controlflow></app-controlflow>
-->
<!--local template variable 
@let username=user.name
<div>{{username}}</div>
-->
<!--Pipes : Transform the data like string, number, date  etc
| pipe operator
{{name | uppercase}} => MARI
{{name | lowercase}} => mari
{{name | titlecase}} => Mari
{{name | slice:0:3}} => Mar
{{name | slice:3}} => imuthu
{{name | slice:-5}} => muthu
{{name | slice:-5:-2}} => mut
{{name | slice:-5:-3}} => mu
{{name | slice:-5:3}} => Mar
{{name | slice:0:-3}} => Mari
{{name | slice:0:-2}} => Marimuth
{{name | slice:0:-1}} => Marimuthu

<div> {{birthdate | date :"dd-MM-yyyy"}} </div>
<div>{{"mari" | uppercase}}</div>
<div>{{1234.6 | currency:"INR"}}</div>
<div>{{1234.6 | number:"1.2-2"}}</div>

<div>{{0.2545 | percent:"1.2-2"}}</div>

<p>{{[12,3,4,55,67,45,6,656] | slice:1:5}}</p>
<p>{{['a',"b","c","b"] | slice:1:3}}</p>
<p>{{"hellow mari" | slice:0:6}}</p>
<p> {{ {name:"Mari",age:29} | json }}</p>
<p>{{userlist$ |async | json}}</p>

<div>{{"mari" | grid}}</div>
<div>{{['mari','ravi','suresh'] | lengthget}}</div>
<div>{{"marimuthu" | lengthget}}</div>
<div>{{[1,2,3,4,5] | lengthget}}</div>
<div>{{ "This is correct way to use pipe in (condition ? a : b) | pipe"}}</div>
-->

<!--Change detection on pipe it will only active pure is false
<label for="">New hero name</label>
<input type="text" #box (keyup.enter)="addHero(box.value, active.checked); box.value=''" placeholder="Enter Hero Name"/>
<label for="isactive">Active</label><input type="checkbox" #active id="isactive"/>

@for (userdata of (user | isactivehero); track userdata.name) {
    <p>{{userdata.name}}</p>
}
-->

<!--Template Reference Variables : used in input html
Component reference variables : used in component 
form reference variables : used in form to access the form value and form state like valid, invalid, dirty, pristine etc

<input type="text" #phone placeholder="Enter your phone"/>
<button type="button" (click)="phoneclick(phone.value); phone.value=''">Phone Click</button>
-->
<!--SVG in angular
<svg>
    <g>
        <rect x="0" y="0" width="100" height="100" [attr.fill]="svgcolor" (click)="changeColor()"></rect>
        <text x="200" y="50" text-anchor="middle" dominant-baseline="middle">click the rectangle</text>
    </g>
</svg>
-->
<!-- Angular directives : directives are used to extend the functionality of HTML elements in Angular 

<div>Angular directives : directives are used to extend the functionality of HTML elements in Angular </div>
<br/>
<span><strong>Directives List</strong></span>
<ul>
    <li>Component</li>
    <li>Attributes:its change the behviour</li>
    <li>Structural: its change the dom elements</li>
</ul>

<div>Build in directives</div>
<div>NgClass: Add remove set of css classes, ngStyle : add or remove set of style, ngModel:Two way data binding</div>
<div>build in structural directives 'if, for, switch' </div>
-->

<!--custom attribute directive eg
<p appHighlight="yellow" defaultColor="blue">This is angular 18</p>
<p ngNonBindable>{{1+1}}</p>
-->
<!-- custom structural directive eg 
Dom rendring based on condition and dyanmic content rendering
how to define custom structural directive : use * before the directive name

<div *appHaspermission="'admin'">This content is only visible to users with the 'admin' permission.</div>
<div *appDynamiclist="emptylist; let item=$implicit">{{ item.name }}</div>
<div *appShowif="isvisible">This content is only visible when the condition is true.</div>
<button (click)="isvisible = !isvisible">Toggle</button>
<p *appRepeatTimes="count; let i =index">This content is repeated {{ i }} times.</p>
<input type="number" [(ngModel)]="count" placeholder="Enter number of times to repeat"/>

-->
<!--Type checking ng template gurd

<div *appIsDog="animal">{{animal | json}}</div>

<div *appdemo="demostring; url:demourlmodel, let version; let demo=demo ; let url=url">
  <div>the  version is  {{version}}</div>
 <div>the  demo is  {{demo}}</div>
 <div>{{url.url}}</div>
</div>
-->
<!--Dependecny Injection
its need Injectable decocater its come from @angular/core
    Main Role: Dependecny consumer and dependecny provider
    dependecny consumer: its used to consume the dependecny in the component
dependecny provider: its used to provide the dependecny in the component
    Root level:  providedIn: 'root' (mentioned in service file)
    applocation level: providers:[LoggerService] (mentioned in app.config.ts file)
    Component level: providers:[LoggerService] (mentioned in component file)
mainly 3 type of dependecny injection
1. constructor injection : its used to inject the service in the component using constructor 
    constructor(private logger: LoggerService)
2. property injection : its used to inject the service in the component using @inject decorator
      private logger= inject(LoggerService);
-->
<app-dependency></app-dependency>